
			.fadable-holder{
				position: relative;
				width:100%;
				white-space: nowrap;
				overflow-x:hidden;
			}
			
			#the-tender-description, #the-tender-description *, #the-tender-description > *{
			    font-family: 'Exo 2', Tahoma, sans-serif !important;
			}
			
			.fadable{
				display: inline-block;
				width: 100%;
				text-align: center;
				margin: 0px !important;
			}
			
			.fadable a{
				border: none;
				text-decoration: none;
			}
			
			.floatable.float{
			    position: fixed;
			    z-index: 999;
			}
			
			#footer{
			    padding:15px 25px;
                clear: both;
                background-color: #17181b;
                text-align: center;
                color: #887e73;
			}
			
			.selectable-cat.selected{
			    font-weight: 600;
			}
			
			.selectable-cat i{
			    display: none;
			}
			
			.selectable-cat.selected i{
			    display: block !important;
			}
			
			.selectable-cat:hover{
			    background-color: rgba(,0,50,0.1);
			}
		